<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOS SANTOS PORTFOLIO</title>
    <link rel="stylesheet" href="/css5.css">
 </head>

<body>
    <div id="inicio" class="inicio">
        <header>
            <div class="header1">
                <a href=#inicio><img class="logo1" th:src="${header.get(0).getLogo()}" alt="logo1"></a>
            </div>

            <div class="header2">
                <a href="#inicio" th:text="${header.get(0).getTexto()}"></a>
                <a href=#aboutme th:text="${header.get(1).getTexto()}"></a>
                <a href=#projects th:text="${header.get(2).getTexto()}"></a>
            </div>
            <div class="header3">
                <a class="boton" href=#contact th:text="${header.get(3).getTexto()}"></a>
            </div>
        </header>
        <div class="hijo">
            <h1 th:text="${id.get(0).getNombre()}"></h1>
        </div>
    </div>
    <div class="galeria">
        <div class="texto_galeria">
            <div class="titulo_galeria">
                <h1 class="titulo">CONOCIMIENTOS</h1>
            </div>
        </div>
        <div class="iconos">
            <div class="logo0"><img class="html" th:src="${logos.get(0).getLogo()}" alt=""></div>
            <div class="logo2"><img class="css" th:src="${logos.get(1).getLogo()}" alt=""></div>
            <div class="logo3"><img class="python" th:src="${logos.get(2).getLogo()}" alt=""></div>
            <div class="logo4"><img class="mysql" th:src="${logos.get(3).getLogo()}" alt=""></div>
            <div class="logo5"><img class="java" th:src="${logos.get(4).getLogo()}" alt=""></div>
        </div>
    </div>
    <div id="aboutme" class="aboutme">
        <div class="hijo_aboutme">
            <h1 class="titulo">SOBRE MÍ</h1>
            <p th:text="${about.get(0).getTexto()}">
            </p>
        </div>
        <div class="imagen_aboutme">
            <img class="imagen_aboutme1" th:src="${about.get(0).getImagen()}" alt="">
        </div>
    </div>
    <div id="projects" class="proyectos">
        <div class="proyectos_titulo">
            <h1 class="proyectos_h1">PROYECTOS</h1>
            <p th:text="${proyecto.get(0).getTexto()}"></p>
        </div>
        <div class="proyectos_imagen">
            <img class="p_imagen1" th:src="${proyecto.get(0).getImagen()}" alt="">
            <img class="p_imagen2" th:src="${proyecto.get(1).getImagen()}" alt="">
            <img class="p_imagen3" th:src="${proyecto.get(2).getImagen()}" alt="">
            <img class="p_imagen4" th:src="${proyecto.get(3).getImagen()}" alt="">
            <img class="p_imagen5" th:src="${proyecto.get(4).getImagen()}" alt="">
            <img class="p_imagen6" th:src="${proyecto.get(5).getImagen()}" alt="">
        </div>

    </div>
    <div id="contact" class="contacto">
        <h1 class="contacto_h2">CONTACTO</h1>
        <div class="contacto_padre">
            <div class="contacto_texto">
                <h1 class="contacto_h1">Formulario de contacto</h1>
                <p class="contacto_p">Rellene este formulario</p>
            </div>
            <form method="post">
                <div>
                    <label>Nombre*</label>
                    <br>
                    <input class="form-input form-input-text" type="text" name="name" placeholder="Escriba su nombre" required>
                </div>
                <div>
                    <label type="subname">Apellidos</label>
                    <br>
                    <input class="form-input form-input-text" type="text" name="surname"
                        placeholder="Escriba sus apellidos" minlength="2" maxlength="35">
                </div>
                <div>
                    <label type="age">Edad*</label>
                    <br>
                    <input class="form-input form-input-number" type="number" name="age" placeholder="Su edad" min="18" required>
                </div>
                <div>
                    <label type="number">Número de contacto*</label>
                    <br>
                    <input class="form-input form-input-number" type="number" name="number"
                        placeholder="Escriba su número de contacto" min="600000000" max="799999999" required>
                </div>
                <div>
                    <label type="email">Correo*</label>
                    <br>
                    <input class="form-input form-input-number" type="email" name="email" placeholder="Escriba su correo"required>
                </div>
                <div>
                    <label type="mensaje">Mensaje</label>
                    <br>
                    <textarea placeholder="Escriba un mensaje" cols="30" rows="10"></textarea>
                </div>
                <br>
                <div class="post_campo">
                    <p class="campo_p">(*) Campo obligatorio</p>
                </div>
                <div class="contacto_boton">
                    <button class="contacto_enviar" type="submit">
                        <p>ENVIAR</p>
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="footer">
        <div class="footer_imagen">
            <img class="footer_imagen1" th:src="${footer.get(0).getLogo()}" alt="">
        </div>
        <div class="footer_relleno">
            <h1 class="contacto_h1">CONTACTO</h1>
            <h2>Número: <span th:text="${footer.get(0).getNumero()}"></span> </h2>
            <h2>Email: <span th:text="${footer.get(0).getEmail()}"></span></h2>
        </div>
    </div>

</body>

</html>

<br>