body {
    margin: 0 auto;
    background-color: rgb(20, 133, 226);
}


header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.header1 {
    position: relative;
    left: 20px;
}

.header2 {
    display: flex;
    gap: 80px;
    margin-left: 50px;
}

.header3 {
    position: relative;
    right: 20px;
    background-color: rgb(20, 133, 226);
    width: 150px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header3:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out
}


.logo1 {
    height: 50px;
    width: 90px;
}

.logo1:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;

}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}


.hijo h1 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 180px;
}

h1 {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

p {
    color: aliceblue;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;

}


.hijo {
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    height: 900px;
    align-items: center;
    justify-content: center;
    width: 1050px;
    text-align: center;
}

.galeria {
    height: 500px;
    background-color: black;
    margin-top: -55px;
    padding-top: 60px;

}

.texto_galeria {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    gap: 100px;
}

.html {
    height: 150px;
    width: 150px;

}

.html:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;
}

.css {
    height: 175px;
    width: 175px;
}

.css:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;
}

.mysql {
    height: 150px;
    width: 150px;
}

.mysql:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;
}

.python {
    height: 150px;
    width: 150px;
}

.python:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;
}

.java {
    height: 150px;
    width: 150px;
}

.java:hover {
    filter: drop-shadow(5px 5px 8px rgb(143, 143, 143));
    transition: 0.5s ease-in-out;
}

.aboutme {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -21px;
    background: linear-gradient(to bottom, black, rgb(76, 164, 214));
    gap: 150px;

}

.titulo {
    animation: cambioColor 4s infinite alternate;
}

@keyframes cambioColor {
    to {
        color: rgb(255, 255, 255);
    }

    from {
        color: rgb(20, 133, 226)
    }
}

.hijo_aboutme {
    margin-left: 30px;
    width: 750px;
    gap: 10px;
    display: flex;
    flex-direction: column
}

.imagen_aboutme1 {
    height: 400px;
    white-space: 400px;
    font-weight: bolder;
}

.proyectos {
    height: 1000px;
    background: linear-gradient(to bottom, rgb(76, 164, 214), rgb(0, 0, 0));
    padding-top: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.proyectos_h1 {
    animation: cambioColor 4s infinite alternate;
}

@keyframes cambioColor {
    to {
        color: rgb(255, 255, 255);
    }

    from {
        color: rgb(20, 133, 226)
    }

}

.proyectos_titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos_imagen {
    display: grid;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "a b c"
        "d e f";
}

.p_imagen1 {
    grid-area: "a";
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

.p_imagen1:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.p_imagen2 {
    grid-area: "b";
    height: 300px;
    width: 500px;
    border-radius: 20px;

}

.p_imagen2:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.p_imagen3 {
    grid-area: "c";
    height: 300px;
    width: 500px;
    border-radius: 20px;

}

.p_imagen3:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.p_imagen4 {
    grid-area: "d";
    height: 300px;
    width: 500px;
    border-radius: 20px;

}

.p_imagen4:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.p_imagen5 {
    grid-area: "e";
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

.p_imagen5:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.p_imagen6 {
    grid-area: "f";
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

.p_imagen6:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.contacto {
    padding-top: 2px;
    height: 1300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 0px;
}

.contacto_h2 {
    animation: cambioColor 4s infinite alternate;
}

@keyframes cambioColor {
    to {
        color: rgb(255, 255, 255);
    }

    from {
        color: rgb(20, 133, 226)
    }
}

.contacto_padre {
    background-color: rgb(20, 133, 226);
    height: 980px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto_texto {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contacto_h1 {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacto_p {
    margin-top: -5px;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.411);
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.contacto_boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.contacto_enviar {
    height: 45px;
    width: 100px;
    margin-top: 10px;
    background-color: rgba(31, 122, 226, 0.384);
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto_enviar p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

input {
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

textarea {
    width: 352px;
    border-radius: 5px;
    border-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post_campo {
    margin-top: -30px;
}

.campo_p {
    font-size: 15px;
}

.footer {
    height: 400px;
    background-color: rgb(20, 133, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_imagen1 {
    width: 200px;
    height: 120px;
}

.footer_relleno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 16px;
    margin-top: 5px;
}

.contacto_h1 {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.inicio {
    display: flex;
    flex-direction: column;
    background-color: rgba(103, 128, 150, 0.705);
    height: auto;
    background-image: url(img/1920_1080_20100208125119416466_2.png);
    height: 1100px;
    padding-top: 15px;
}